.course-link {
  color: #0b3a7c !important;
  transition: transform 0.3s;
  text-decoration: none;
}

.course-link:hover {
  transform: translateY(-10px);
  text-decoration: underline;
}

.page-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 20px auto;
}

.add-course-container .add-icon {
  border: 1px solid #ff96aa;
  border-radius: 50%;
  color: #ff96aa;
  font-size: 2rem;
}

.add-course-container .add-icon:hover {
  border: 1px solid #2196f3;
  border-radius: 50%;
  color: #2196f3;
  transition: 0.9s;
  transform: rotateY(180deg);
}

@media only screen and (max-width: 1180px) {
  .page-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 810px) {
  .page-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .course-link {
    width: 90%;
  }
}
