.course {
  width: 300px;
  height: 150px;
  background-color: white;
  margin: 20px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 5px 2px 15px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 2px 15px -5px rgba(0, 0, 0, 0.2);
}

.course-name {
  margin: 5px 0;
  font-weight: bold;
  display: grid;
  font-size: 1.1rem;
  grid-template-columns: 10fr 1fr;
}

.processBar {
  font-size: 0vw;
  height: 10px;
  background-color: #ff96aa !important;
  border-radius: 3px;
  text-decoration: none;
}

.processBar:hover {
  font-size: 1rem;
  color: white !important;
  height: auto;
  background-color: #ff96aa !important;
  text-decoration: none;
  border-radius: 7px;
}

.info {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  bottom: 0;
  color: #7e90b0;
}

@media only screen and (max-width: 810px) {
  .course {
    width: 100%;
  }
}
