.course{
    width: 300px;
    height: 150px;
    margin: 20px 0 ;
    text-align: center;
    position: relative;
}

.course-name{
    margin: 5px 0;
    font-weight: bold;
}

.info{
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    bottom: 0;
}

progress{
    width: 90%;
}