.table-row {
  transition: box-shadow 0.2s ease-in-out;
}
.table-row:hover {
  cursor: pointer;
  box-shadow: #ff96aa 1px 5px 15px;
}

.table-cell {
  font-weight: bold;
}

.box {
  margin: 2.5rem auto;
}

.add-edit-cohort {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#box {
  width: 40%;
  margin: 3rem auto 2.5rem;
}

.add-icon {
  border: 1px solid #2196f3;
  border-radius: 50%;
  color: #2196f3;
}

.add-course-container {
  width: 80%;
  margin: 0 auto;
  /* font-size: 22px; */
  padding: 10px;
}

.add-icon {
  margin-left: 10%;
  border: 1px solid #ff96aa;
  border-radius: 50%;
  color: #ff96aa;
  font-size: 2rem;
}

.add-icon:hover {
  border: 1px solid #2196f3;
  border-radius: 50%;
  color: #2196f3;
  transition: 0.9s;
  transform: rotateY(180deg);
}
