#navbar {
  /* position: -webkit-sticky; 
  position: sticky;
  top: 0; */
}

.my-navbar-container {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

#user-settings-icon {
  position: absolute;
  right: 0;
}

#user-settings-dropdown {
  right: 0;
}

.navbar-brand {
  transition: transform 0.3s;
}

.navbar-brand:hover {
  transform: translateY(-4px);
}
