.student-page-container {
  width: 80%;
  margin: 0 auto;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

.filters-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.add-edit-cohort {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.cont {
  margin: 20px 0;
  width: 60%;
}

.student-details {
  margin: 2% 0;
  padding: 20px;
  display: grid;
  justify-content: end;
  border-radius: 8px;
  grid-template-columns: repeat(2, 1fr);
  /* box-shadow: 0 2px 5px black; */
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.16);
  /* transition: box-shadow 0.3s ease-in-out; */
}

.student-details p {
  font-weight: bold;
  font-size: 1.1rem;
}

.student-details p span {
  font-weight: bold;
  font-size: 1rem;
  font-weight: 200;
}

.jobs-title {
  width: 80%;
  margin: 23px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 17px;
  -webkit-box-shadow: 16px 12px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 16px 12px 6px -2px rgba(0, 0, 0, 0.05);
}

.rows {
  width: 80%;
  margin: 25px auto;
  text-align: center;
}

.job-container {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
}

.vLine {
  border-left: 1px solid #ccc;
  height: 20px;
}

.student-page-container button {
  margin: 20px 0;
  color: rgb(255 152 171);
  border: 1px solid rgb(255 152 171);
}

.student-page-container button:hover {
  background-color: rgb(255 152 171);
  color: #0f213a;
  border: 1px solid rgb(255 152 171);
}

@media only screen and (max-width: 600px) {
  .student-details {
    font-size: 0.9rem;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    margin: 20px auto;
  }

  .filters-detail {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin: 0 auto; */
    /* justify-content: center; */
    justify-self: center;
  }

  .filters-detail .cont {
    margin: 0 auto;
    width: 100%;
  }

  .student-page-container {
    width: 95%;
    margin: 0 auto;
  }

  .jobs-title {
    font-size: 0.7rem;
    margin: 0;
    width: 100%;
  }

  .job {
    font-size: 0.7rem;
  }

  .interviews-header {
    font-size: 0.7rem;
  }

  .student-details p span {
    display: grid;
    justify-self: end;
  }

  .rows {
    width: 100%;
    /* margin: 0 auto; */
    /* text-align: center; */
  }
}
